BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
Standard: C++20
AllowShortFunctionsOnASingleLine: Empty
FixNamespaceComments: true
ReflowComments: true
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: true
TabWidth: 4
UseTab: Never
